.box {
  padding: 10px;
  color: white;
  font-size: 60px;
  font-weight: bold;

}

a:hover {
  <span class="border border-primary"></span>
}

i.fas,
i.fab {
  color: rgb(11,173,166);;
}

.bounding_box {
  border: 3px solid rgb(11,173,166);
}

.biggest_box{
  background: lightgrey;
  padding: 60px;

}

.center {
  text-align: center;
}

.normal_text {
  font-size: 20px;
}

.ul_format{
  text-align: right;
}

.set_padding{
  padding: 20px;
}

@media (max-width: 480px) {
  .dropdown-item {
    color: grey;
    font-size: 20px;}
  .nav-item {
    text-align: left;
    font-size: 20px;}
  }

h1{
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding: 20px;
}

h2{
  font-size: 40px;
  font-weight: bold;
  color:  rgb(11,173,166);
  padding: 20px;
}

h3{
  font-size: 30px;
  font-weight: bold;
  color:  rgb(11,173,166);
  padding: 10px;
}

.goofy_blue {
  background: rgb(11,173,166);
}

.white {
  background-color: white;
}

.red {
  background: indianred;
}
